/* Header */
.bar button {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #0000;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
}

button a{
  color: #ffff;
  text-decoration: none;
  transition: 200ms ease-out;
}
button a:hover{
  filter: brightness(1.2);
  transform: scale(1.05);
  transition: 200ms ease-out;
}

/* Paginator */

.paginator {
  display: flex;
  gap: 10px;
}
.paginator a{
  background-color: rgba(35, 171, 199, 1);
  color: #ffff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Cinzel',serif;
  text-decoration: none;
  transition: 100ms ease-out;
}
.paginator a.active{
  background-color: rgba(32, 56, 61, 1);
  color: #9f8b76;
}
.paginator a:hover{
  background-color: rgba(32, 56, 61, 1);
  color: #9f8b76;
}

#previous{
  background-color: rgba(32, 56, 61, 1);
  color: #9f8b76;
}
#previous:hover{
  background-color: rgba(35, 171, 199, 1);
  color: #ffff;
}

#next{
  background-color: rgba(32, 56, 61, 1);
  color: #9f8b76;
}
#next:hover{
  background-color: rgba(35, 171, 199, 1);
  color: #ffff;
}

/* Footer */
.footer-option button {
  background-color: #0000;
  color: #ffff;
  border: none;
  display: flex;
  font-family: 'Poppins',sans-serif;
}

.subscription button{
    border: none;
    background-color: rgba(35, 171, 199, 1);
    width: 308px;
    height: 34px;
    font-weight: 700;
    border-radius: 100px;
    font-size: 16px;
    font-family: 'Cinzel',serif;
    color: #ffff;
}